.black-word {
    color: black;
}

.teal-word {
    color: teal;
}

.blue-word {
    color: blue;
}

.navy-word {
    color: navy;
}

.lime-word {
    color: lime;
}

.white-word {
    color: white;
}

.purple-word {
    color: purple;
}

.yellow-word {
    color: yellow;
}

.olive-word {
    color: olive;
}

.red-word {
    color: red;
}

.marron-word {
    color: black;
}

.gray-word {
    color: gray;
}


.fuchsia-word {
    color: fuchsia;
}

.green-word {
    color: green;
}


.silver-word {
    color: silver;
}